*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #80808029;
    font-family: 'Raleway';
}

header img{
    height: 32px;
    width: 32px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: #fff;
 
}

body, main{
    height: 100%;
    width: 100%;
}

.topo{
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    display: flex;
  
   
}
h1{
    font-size:24px;
    color: #5d15d1;
    margin-left: 10px;
}

form{
    width: 100%;
    height: auto;
    margin:  0 50px 50px 0;
}

.banner{
    background-image: url('../assets/img/bahia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height:auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.banner-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d15d1;
    width: 100%;
    height: 35px;
    padding: 0;
  
   
}

.banner-2 img{
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
}

.banner-2 h2{
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
}

form, .container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 1024px;
    padding: 20px 25px;
}

.container{
    padding: 0;
    margin: 0;
    margin: 50px 0 0 0 ;
}

.form-h2{
    font-size: 22px;
    margin-bottom: 24px;
}

form label{
    font-size: 16px;
}
.digita{
    width: 100%;
    margin: 10px 0;
    height: 32px;
    padding: 0 5px;
}

select{
    padding: 0 3px;
}

.ida-volta, .origem-destino{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.marca{
    width: 15px;
}

.imarca{
    margin-left: 8px;
}

.ida-volta div{
    width:49.5%;
}



.origem-destino div{
    width:49.5%;
    display: flex;
    flex-direction: column;
}

button{
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}

input, select{
    margin: 10px 0;
}

input{
    outline: none;
}

.parte2{
    
    width: 100%;
    margin: 32px auto 0 auto;
}

.ofertas, .anuncios{
   width: 100%;
   text-align: left;
   margin: 0 auto ;
   max-width: 1150px;
}


.titulo1{
    margin: 32px auto 0 auto;
    font-size: 20px;
    margin-bottom: 10px;
}
.titulo{
    font-size: 16px;
    margin-bottom: 15px;
}


.container-card-1{
    width: 50%;
}


.container-imagens{
    width: 100%;
    display: flex;
    height: 375px;
    justify-content: space-between;

  
}


.container-card-2{
    
   align-items: flex-start;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   height: 100%;
   width: 50%;
  
}

.card-10{
    background-image: url(../assets/img/rio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:95% ;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fff;
   
}

.card-1{
    background-image: url('../assets/img/manaus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-2{
    background-image: url(../assets/img/saopaulo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-3{
    background-image: url(../assets/img/niteroi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-4{
    background-image: url(../assets/img/maranhao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 48%;
    height: 48%;
    display: flex;
   
    justify-content: center;
    align-items: flex-end;
}

.container-imagens p{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 23px;
    padding-left: 5px;
    font-size: 17px;
    color: #fff;
  
}

.card-100 img{
    height:   100%;
    width: 100%;
  
   
}

.card-100{
    margin-right:2%;
}

.card-100{
    margin-right: 2%;
}

.card-200 img{
    height:   100%;
    width: 100%;
 
}

.card-100, .card-200{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    height:  100%;
    width: 550px;
    background-color: #fff;
}

.container-imagem{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
 
 
}

.container-imagem p, .container-imagem h3{
    margin: 15px 0 15px 15px;
   
}

.container-imagem h3{
    font-size: 16px;
}

.container-imagem p{
    color: gray;
    font-size: 14px;
    margin-top: 15px;
}

footer{
    width: 100%;
    background-color: #5d15d1;
    margin-top: 32px;
}

.container-footer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ft{
    display: flex;
    margin: 15px 0;
    flex-direction: column;
}
.ft div{
    display: flex;
}



.ft div img{
    height: 18px;
}

.ft h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.ft p{
    margin:5px 0;
}

.ft div p{
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

/*/MOBILE/*//*/MOBILE/*//*/MOBILE/*//*/MOBILE/*/

@media only screen  and (max-width:540px){
    button{
        width: 100%;
    }

 .quarto{
        display: flex;
        flex-direction: column;
    }

    .container-imagens, .container-card-1, .container-card-2{
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    

    .ofertas, .parte2, .container-imagens, .container-card-1{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }


   .card-10, .card-1, .card-2, .card-3, .card-4{
        width: 100%;
        height: 200px;
       
    }

    .container-footer{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .container-imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-100 {
        width: 90%;
    }
    .card-200 {
        width: 90%;
    }

    input{
        width: 100%;
    }

    .ft{
        margin:  0 auto;
        width: 100%;
        max-width: 400px;

        justify-content: flex-start;
        align-items: flex-start;
    }

    .topo{
        justify-content: center;
    }

    .topo h1{
        font-size: 20px;
    }

    footer{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:  0 auto;
    }

    .ida-volta, .origem-destino{
        flex-direction: column;
        width: 100%;
    }

    .ida-volta div{
        width:100%;
    }
    
    
    
    .origem-destino div{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .container-footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ft{
        width: 227px;
    }
    footer{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
}


/*/TABLET/*//*/TABLET/*//*/TABLET/*//*/TABLET/*/

@media only screen and (min-width:541px) and (max-width:768px){
    button{
        width: 100%;
    }

    .container-imagens, .container-card-1, .container-card-2{
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    

    .ofertas, .parte2, .container-imagens, .container-card-1{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

   .card-10, .card-1, .card-2, .card-3, .card-4{
        width: 100%;
        height: 225px;
        margin-top: 15px;
    }

    .container-footer{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .container-imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-100 {
        width: 90%;
    }
    .card-200 {
        width: 90%;
    }

    input{
        width: 10%;
    }

    .ft{
        margin:  0 auto;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .topo{
        justify-content: center;
    }

    .topo h1{
        font-size: 20px;
    }

    .card-100, .card-100{
        margin-bottom: 15px;
    }
    .container-footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ft{
        width: 227px;
    }
    footer{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
}